body{
  background: url(bg.jpg);
  position: absolute;
  font-family: monospace;
}
#display{
  border: 10px #181929 double;
  margin-top: 250px;
  padding-left: 12px;
  color:#001FFF;
  font-weight: 900;
  margin-left: 90px;
  background-color:#36FF02;
  position: absolute;
  text-align: center;
  
}
#buttons button{
  text-align: center;
  color: #FFD402;
  margin-top: 100px;
  margin-left: 25px;
  
}
